<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- CSS file-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading_animation.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animation.css') }}">

        <!-- JavaScript file extern -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- JavaScript file intern -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/loadingoverlay.min.js') }}"></script>

<!--        &lt;!&ndash; Bootstrap multiselect: &ndash;&gt;-->
<!--        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-multiselect.js') }}"></script>-->
<!--        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}" type="text/css"/>-->

        <!-- Title -->
        <title>Lhokho</title>
        <link rel="icon" href="{{ url_for('static', filename='img/porco_logo.png') }}" type="image/png">

<!--    <script>-->
<!--       $(document).ajaxStart(function(){-->
<!--            jQuery.ajaxPrefilter(function( options ) {-->
<!--                    options.global = true;-->
<!--                });-->
<!--            $.LoadingOverlay("show");-->
<!--        });-->
<!--        $(document).ajaxStop(function(){-->
<!--            jQuery.ajaxPrefilter(function( options ) {-->
<!--                    options.global = true;-->
<!--                });-->
<!--            $.LoadingOverlay("hide");-->
<!--        });-->
<!--        </script>-->

    </head>

    <body class="main" style="background: url(/static/img/train_station.jpg) no-repeat center center fixed; min-height: 100vh; background-position: center; background-size: cover;" onload="generateHtmlLogin()">
        <style>
            .flex-fill {
                flex:1;
            }
        </style>

        <nav class="navbar sticky-top navbar-expand-lg navbar-light navbar-fixed-top" style="background-color:rgba(255, 255, 255, 0.7)">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="d-inline-block align-top" src="{{ url_for('static', filename='img/porco_transparent.gif') }}" width="75" height="75" alt="">
                </a>
                <p class="navbar-text" style="font-size: xx-large !important;">LhoKho</p>

                <div class="collapse navbar-collapse" id="navbarNav" >
                    <ul class="navbar-nav ml-auto">
                        <style>
                          font-size: larger !important;
                          list-style-type: none;
                          padding: 15;
                          display: flex;
                          flex-direction: row;
                          justify-content: space-around;
                          flex-wrap: nowrap;
                        </style>
                        <li class="nav-item active">
                            <a class="nav-item nav-link" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="{{ url_for('trip.destination') }}">Destinations</a>
                        </li>
                        <li class="nav-items">
                            <a class="nav-item nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <div class="container" style="margin-left: 10em; ">
                <div class="card shadow my-3" id="test_2" style="width:150%;background-color:rgba(255, 255, 255, 0.2) !important; ">

                    <div class="card-body">
                        <div class="d-flex flex-column mb-3">
                            <div class="p-2"  >
                                 <!-- Research bar container -->
                                <div class="form-row">
                                    <div class="form-group col-md-4 mb-2" >
                                        <label id="st" name="None">Departure</label>
                                        <input type="text" class="form-control" id="list_stations" name="stations" list="stations" placeholder="Select..." required>
                                        <datalist id="stations">
                                        {% for stat in stations %}
                                            <option value="{{ stat }}">{{ stat }}</option>
                                        {% endfor %}
                                        </datalist>
                                        <script src="{{ url_for('static', filename='js/populate_station.js') }}"></script>
                                    </div>
                                    <div class="form-group col-md-4 mb-2" >
                                        <label id="arrival" name="None">Arrival</label>
                                        <select multiple class="form-control  input-sm" id="list_arrival" name="arrivals" required>
                                        </select>
                                        <script src="{{ url_for('static', filename='js/populate_arrivals.js') }}"></script>
                                    </div>
                                    <div class="form-group col-md-4 mb-2" >
                                        <label>Date</label>
                                        <input type="date" id="trip_date" class="form-control" name="date" required>
                                    </div>
                                    <div class="form-check col-md-4 mb-2">
                                        <input type="checkbox" class="form-check-input" id="check_api">
                                        <label class="form-check-label" for="check_api">api</label>
                                    </div>
                                </div>
                                <div class="row flex-fill d-flex justify-content-start" id="test2" >

                                    <div class="col-md-8" id = "map_container" style="min-height: 500px;" >
                                        <!-- map container (generated dynamically)-->
                                    </div>

                                    <div class="col-md-4" >
                                        <div>
                                            <table class="table table-striped table-hover table-condensed" >
                                                <thead>
                                                    <tr>
                                                        <th width="25%" class="text-center">Destination</th>
                                                        <th width="25%" class="text-center">Price</th>
                                                        <th width="25%" class="text-center">Type</th>
                                                        <th width="25%" class="text-center">Cat.</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div id="table_container" style="max-height: 400px; overflow-y: auto;">
                                            <table  id="content_table" class="table table-striped table-hover table-condensed" style="background-color:rgba(255, 255, 255, 0.5) !important;">
                                                <tbody id="trip_table">
                                                    <!-- rows added here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>  
                    </div>
                </div>     
            </div>
        </div>

        <footer class="page-footer text-black pt-4 " style="background-color:rgba(255, 255, 255, 0.7);">
            <!-- Footer Links -->
            <div class="container text-md-left">
                <!-- Grid row -->
                <div class="row text-justify">
                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-center">Informations</h5>
                        <hr class="light">
                        <p>Lockdown project</p>
                    </div>

                    <div class="col-md-2 mx-auto text-center">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ressources</h5>
                        <hr class="light">
                        <ul class="list-unstyled">
                        </ul>
                    </div>

                    <div class="col-md-2 mx-auto text-center">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">A Propos</h5>
                        <hr class="light">
                        <ul class="list-unstyled">
                            <li>
                                <a href="dicoloco_faq.html">FAQ</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2 mx-auto text-center">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
                        <hr class="light">
                        <ul class="list-unstyled">
                            <li>
                                <a href="dicoloco_index.html#dicoTeam">Lhokhomotiv</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="https://github.com/Makitsu/lhoukhoumotiv">Lhokhomotiv</a>
            </div>
        </footer>



        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-latest.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery/jquery-ui.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/jquery/jquery-3.5.0.js') }}"></script>


    </body>
</html>